.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1rem;
    background-color: #8b687f;

}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    padding: 1rem;
    margin:5px
}