.header-bottom {
    margin-right: 65px;
}

.header-logo {
    position: relative;
    display: flex;
    left: 5px;
    outline: none;
    color: inherit;
    text-decoration: inherit;
    outline: none;
    font-size: 30px;
}

.header-top_navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
}